<div class="about-container">
        <div class="about-anchor" id="about-anchor-id"></div>
        <img loading="lazy" id="about-image" class="about-image-mob" src="../Assets/Images/About ID Mob.jpg" >
        <h2 id="about-mob" class="about-header-mob">{{ t.about.header }}</h2>
        <div class="about-text-container">
            <h5 id="about-text-first" class="about-text-first fade-in">{{t.about.text01 }}</h5>
            <h5 id="about-text-second" class="about-text-second fade-in">{{t.about.text02 }}</h5>
        </div>
</div>