<div class="contact">
    <div class="headers-container">
        <h2 id="contact-mob" class="contact-header-second">{{t.contact.contact }}</h2>  
    </div>
     <h5 class="contact-subheader-mob">{{t.contact.header }}</h5>
    <div class="name-form">
        <input id="Email NameMob"  oninput="TextChange('Email NameMob')" class="contact-input" type="text" placeholder="{{t.contact.name }}"/>
    </div>
    <div class="subject-form">
        <input id="Email SubjectMob"  oninput="TextChange('Email SubjectMob')" class="contact-input" type="text" placeholder="{{t.contact.subject }}"/>
    </div>
    <div class="message-form">
        <textarea id="Email MessageMob" oninput="TextChange('Email MessageMob')" class="contact-input contact-input-message" type="text" placeholder="{{t.contact.message}}"></textarea>
    </div>
    <button class="send-message" onclick="sendEmailMob()">
        <h3 class="send-message-text" >{{t.contact.send }}</h3>
    </button>
</div>