<footer>
    <div class="footer-top-grid">
        <div class="footer-contact-container">
            <h3 class="footer-header">CONTACT US</h3>
            <h4 class="footer-text">idigex@gmail.com</h4>
        </div>
        <div class="footer-nav-container">
            <h3 class="footer-header">NAVIGATION</h3>
            <div class="menu-button-container">
                <button onclick="ScrollToAnchor('about-anchor-id')" id="about-button" class="menu-button footer-button">
                    <span class="label-up label-up-footer">{{ t.nav.about }}</span>
                    <span class="label-up label-up-footer">{{ t.nav.about }}</span>
                </button>
            </div> 
            <div class="menu-button-container">
                <button onclick="ScrollToAnchor('services-anchor-id')" id="services-button" class="menu-button footer-button">
                    <span class="label-up label-up-footer">{{ t.nav.services }}</span>
                    <span class="label-up label-up-footer">{{ t.nav.services }}</span>
                </button>
            </div>      
            <div class="menu-button-container">
                <button onclick="ScrollToAnchor('projects-anchor-id')" id="projects-button" class="menu-button footer-button">
                    <span class="label-up label-up-footer">{{ t.nav.projects }}</span>
                    <span class="label-up label-up-footer">{{ t.nav.projects }}</span>
                </button>
            </div> 
        </div>
        <div class="footer-social-media-container">
            <button class="social-media-button-footer">
                <span class="social-media-image-container">
                     <img class="footer-social-media-image"  src="../Assets/Images/Inst.svg"/>
                </span>
                <span class="social-media-button-bg"></span>
            </button>
            <button class="social-media-button-footer">
                <span class="social-media-image-container">
                        <svg  viewBox="0 0 320 512"  height="1.8vw" xmlns="http://www.w3.org/2000/svg"  class="svgIcon"  fill="black">
                        <path d="M80 299.3V512H196V299.3h86.5l18-97.8H196V166.9c0-51.7 20.3-71.5 72.7-71.5c16.3 0 29.4 .4 37 1.2V7.9C291.4 4 256.4 0 236.2 0C129.3 0 80 50.5 80 159.4v42.1H14v97.8H80z"></path>
                        </svg>   
                </span>
                <span class="social-media-button-bg"></span>
            </button>
            <button class="social-media-button-footer">
                <span class="social-media-image-container">
                    <img class="footer-social-media-image"  src="../Assets/Images/Link.svg"/>
                </span>
                <span class="social-media-button-bg"></span>
            </button>
            <button class="social-media-button-footer">
                <span class="social-media-image-container">
                    <img class="footer-social-media-image"  src="../Assets/Images/Teleg.svg"/>
                </span>
                <span class="social-media-button-bg"></span>
            </button>
            <button class="social-media-button-footer">
                <span class="social-media-image-container">
                    <img class="footer-social-media-image"  src="../Assets/Images/Wats.svg"/>
                </span>
                <span class="social-media-button-bg"></span>
            </button>
           
          
            
           
        </div>
    </div>
</footer>
