<div class="header-div-mob">
    <img class="logo-mob" src="../Assets/Images/Logo_dark.svg" alt="Logo">
    <button id="mob-menu-button" class="mob-menu-button" onclick="OpenNav()">
        <span></span>
        <span></span>
        <span></span>
    </button>
</div>
<div id="mob-nav-container" class="mob-nav-container-hidden">
    <div class="mob-mav-buttons-container">
        <div class="menu-button-container">
            <button onclick="OpenNav();ScrollToAnchor('about-anchor-id')" id="about-button" class="menu-button">
                <span class="label-up ">{{ t.nav.about }}</span>
                <span class="label-up ">{{ t.nav.about }}</span>
            </button>
        </div> 
        <div class="menu-button-container">
            <button onclick="OpenNav();ScrollToAnchor('services-anchor-id')" id="services-button" class="menu-button">
                <span class="label-up">{{ t.nav.services }}</span>
                <span class="label-up">{{ t.nav.services }}</span>
            </button>
        </div>      
        <div class="menu-button-container">
            <button onclick="OpenNav();ScrollToAnchor('projects-anchor-id')" id="projects-button" class="menu-button">
                <span class="label-up">{{ t.nav.projects }}</span>
                <span class="label-up">{{ t.nav.projects }}</span>
            </button>
        </div>
        <div class="menu-button-container">
            <button onclick="OpenNav();ScrollToAnchor('contact-anchor-id')" id="projects-button" class="menu-button">
                <span class="label-up">{{ t.nav.contact }}</span>
                <span class="label-up">{{ t.nav.contact }}</span>
            </button>
        </div> 
    </div> 
    <div class="mob-languages-container">
        <div class="languages-button-container-mob">
           
            {% if page.lang == "EN" %}
                <a id="english" class="languages-button-mob current-language-mob" href="/en{{ page.url | remove_first:'/en' | remove_first:'/lv' | remove_first:'/ru'}}">EN</a>
            {% else %}
                <a id="english" class="languages-button-mob" href="/en{{ page.url | remove_first:'/en' | remove_first:'/lv' | remove_first:'/ru'}}">EN</a>
            {% endif %}
        </div>
        <div class="languages-button-container-mob">
            {% if page.lang == "LV" %}
                <a id="latvian" class="languages-button-mob current-language-mob" href="/lv{{ page.url | remove_first:'/en' | remove_first:'/lv' | remove_first:'/ru'}}">LV</a>
            {% else %}
                <a id="latvian" class="languages-button-mob" href="/lv{{ page.url | remove_first:'/en' | remove_first:'/lv' | remove_first:'/ru'}}">LV</a>
            {% endif %}
        </div>
        <div class="languages-button-container-mob">
            
            {% if page.lang == "RU" %}
                <a id="russian" class="languages-button-mob current-language-mob" href="/ru{{ page.url | remove_first:'/en' | remove_first:'/lv' | remove_first:'/ru'}}">RU</a>
            {% else %}
                <a id="russian" class="languages-button-mob" href="/ru{{ page.url | remove_first:'/en' | remove_first:'/lv' | remove_first:'/ru'}}">RU</a>
            {% endif %}
        </div>
    </div>
</div>
   
    <video class="first-image-mob" autoplay loop muted playsinline>
        <source src="../assets/Video/Main shot.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <h2 class="first-shot-header-mob">DIGITAL STUDIO</h2>
    <script>
    function OpenNav(){
        var button = document.getElementById("mob-menu-button");
        button.classList.toggle('open'); // ✅ This is the correct method

        var container = document.getElementById("mob-nav-container");

        if (container.classList.contains('mob-nav-container-hidden')) {
            container.classList.replace("mob-nav-container-hidden", "mob-nav-container");
            disableScroll();
        } else {
            container.classList.replace("mob-nav-container", "mob-nav-container-hidden");
            enableScroll();
        }
    }
    let scrollPosition = 0;

        function disableScroll() {
        scrollPosition = window.scrollY;
        document.body.style.position = 'fixed';
        document.body.style.top = `-${scrollPosition}px`;
        document.body.style.left = '0';
        document.body.style.right = '0';
        }

        function enableScroll() {
        document.body.style.position = '';
        document.body.style.top = '';
        document.body.style.left = '';
        document.body.style.right = '';
        window.scrollTo(0, scrollPosition);
        }
</script>