<div class="services-container">
    <h2 id="services" class="services-header" style="margin-bottom: 6vw;">{{t.services.header }}</h2>
    <div class="services-menu">
        <div class="service-container">
            <div id="firstService" class="services-menu-elem" onclick="openService('firstServiceDescription','service-description-container')">
                <div class="services-text-grid">
                    <button id="services-buttons" class="services-buttons">
                        <img class="service-button-arrow" src="../Assets/Images/Arrow_Right.svg">
                        <h3 id="websites-header" class="service-button-text" >{{t.services.service01.header}}</h3>
                    </button>
                    <h5 id="websites-text" class="service-text-desktop">{{t.services.service01.description}}</h5>
                </div>
                <div class="service-image-container"><img class="service-image" loading="lazy" src="../Assets/Images/Websites_Serivices.jpg"></div>
            </div>
            <div id="firstServiceDescription" class="service-description-container-hidden">
                <h5 id="websites-text" class="service-text-mob">{{t.services.service01.description}}</h5>
                <div style="height:27vw">
                    <h5 id="firstServiceDescriptionText" class="service-description-text"><p>{{t.services.service01.text.line01}}</p>

                        <ul>
                        <li>{{t.services.service01.text.line02}}</li>
                        <li>{{t.services.service01.text.line03}}</li>
                        <li>{{t.services.service01.text.line04}}</li>
                        <li>{{t.services.service01.text.line05}}</li>
                        <li>{{t.services.service01.text.line06}}</li>
                        <li>{{t.services.service01.text.line07}}</li>
                        <li>{{t.services.service01.text.line08}}</li>
                        </ul>
                        
                        <p>{{t.services.service01.text.line09}}</p></h5>
                    <div class="service-cost-container">
                        <div>
                            <h5 class="services-third-highlight">{{t.services.price }}</h5>
                            <div class="service-line"></div>
                            <div style="display: grid; grid-template-columns: max-content auto; gap:0.5vw;">
                                <h5 style="margin: 0;">{{t.services.from }}</h5>
                                <h4 class="services-another-highlight">€400</h4>
                            </div>
                        </div>
                        <div>
                            <h5 class="services-third-highlight">{{t.services.period }}</h5>
                            <div class="service-line"></div>
                            <div style="display: grid; grid-template-columns: max-content auto; gap:0.5vw;">
                                <h5 style="margin: 0;">{{t.services.from }}</h5>
                                <h4 class="services-another-highlight">{{t.services.service01.period }}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="service-container">
            <div id="secondService" class="services-menu-elem" onclick="openService('secondServiceDescription','service-description-container')">
                <div class="services-text-grid">
                    <button id="services-buttons" class="services-buttons">
                        <img class="service-button-arrow"  src="../Assets/Images/Arrow_Right.svg">
                        <h3 id="3dModelingHeader" class="service-button-text" >{{t.services.service02.header}}</h3>
                    </button>
                    <h5 id="3dModelingText" class="service-text-desktop">{{t.services.service02.description}}</h5>
                </div>
                <div class="service-image-container"><img class="service-image"loading="lazy"  src="../Assets/Images/3DModels_Serivices.jpg"></div>
            </div>
            <div id="secondServiceDescription" class="service-description-container-hidden">
                <h5 id="3dModelingText" class="service-text-mob">{{t.services.service02.description}}</h5>
                <div>
                    <h5 id="secondServiceDescriptionText" class="service-description-text">{{t.services.service02.text01}}</h5>
                    <h5 style="margin-top: 2vw;" class="service-description-text">{{t.services.service02.text02}}</h5>
                </div>
            </div>
        </div>
        <div class="service-container">
            <div id="thirdService" class="services-menu-elem">
                <div class="services-text-grid">
                    <button id="services-buttons" class="services-buttons" onclick="openService('thirdServiceDescription','service-description-container')">
                        <img class="service-button-arrow" src="../Assets/Images/Arrow_Right.svg">
                        <h3 id="brandBookHeader" class="service-button-text" >{{t.services.service03.header}}</h3>
                    </button>
                    <h5 id="brandBookDescription" class="service-text-desktop">{{t.services.service03.description}}</h5>
                </div>
                <div class="service-image-container"><img class="service-image"  src="../Assets/Images/BrandBook_Services.jpg"></div>
            </div>
            <div id="thirdServiceDescription" class="service-description-container-hidden">
                <h5 id="brandBookDescription" class="service-text-mob">{{t.services.service03.description}}</h5>
                <div>
                    <h5 id="thirdServiceDescriptionText" class="service-description-text">{{t.services.service03.text}}</h5>
                    <h5 id="thirdServiceDescriptionText" class="service-description-text" style="color: #a9a9a9;">{{t.services.service03.text02}}</h5>
                    <div class="service-cost-container">
                        <div>
                            <h5 class="services-third-highlight">{{t.services.price }}</h5>
                            <div class="service-line"></div>
                            <div style="display: grid; grid-template-columns:max-content auto; gap:0.5vw;">
                                <h5 style="margin: 0;">{{t.services.from }}</h5>
                                 <h4 class="services-another-highlight">€200</h4>
                            </div>              
                        </div>
                        <div>
                            <h5 class="services-third-highlight">{{t.services.period }}</h5>
                            <div class="service-line"></div>
                             <div style="display: grid; grid-template-columns: max-content auto; gap:0.5vw;">
                                <h5 style="margin: 0;">{{t.services.from }}</h5>
                                <h4 class="services-another-highlight">{{t.services.service03.period }}</h4>
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="service-container">
            <div id="fourthService" class="services-menu-elem">
                <div class="services-text-grid">
                    <button id="services-buttons" class="services-buttons" onclick="openService('fourthServiceDescription','service-description-container')">
                        <img class="service-button-arrow" src="../Assets/Images/Arrow_Right.svg">
                        <h3 id="logoHeader" class="service-button-text" >{{t.services.service04.header}}</h3>
                    </button>
                    <h5 id="logoDescription" class="service-text-desktop">{{t.services.service04.description}}</h5>
                </div>
                <div class="service-image-container"><img class="service-image"loading="lazy"  src="../Assets/Images/Logo_Serivices.jpg"></div>
            </div>
            <div id="fourthServiceDescription" class="service-description-container-hidden">
                <h5 id="logoDescription" class="service-text-mob">{{t.services.service04.description}}</h5>
                <div>
                    <h5 id="fourthServiceDescriptionText" class="service-description-text">{{t.services.service04.text}}</h5>
                    <div class="service-cost-container">
                        <div>
                            <h5 class="services-third-highlight">{{t.services.price }}</h5>
                            <div class="service-line"></div>
                            <div style="display: grid; grid-template-columns: max-content auto; gap:0.5vw;">
                                <h5 style="margin: 0;">{{t.services.from }}</h5>
                                <h4 class="services-another-highlight">€200</h4>
                            </div>
                        </div>
                        <div>
                            <h5 class="services-third-highlight">{{t.services.period }}</h5>
                            <div class="service-line"></div>
                            <div style="display: grid; grid-template-columns: max-content auto; gap:0.5vw;">
                                <h5 style="margin: 0;">{{t.services.from }}</h5>
                                <h4 class="services-another-highlight">{{t.services.service04.period }}</h4>
                            </div>
                        </div>
                    </div>
                </div>    
            </div>
        </div>
        <div class="service-container">
            <div id="fifthService" class="services-menu-elem">
                <div class="services-text-grid">
                    <button id="services-buttons" class="services-buttons" onclick="openService('fifthServiceDescription','service-description-container')">
                        <img class="service-button-arrow" src="../Assets/Images/Arrow_Right.svg">
                        <h3 id="bannersHeader" class="service-button-text" >{{t.services.service05.header}}</h3>
                    </button>
                    <h5 id="bannersDescription" class="service-text-desktop">{{t.services.service05.description}}</h5>
                </div>
                <div class="service-image-container"><img class="service-image" loading="lazy" src="../Assets/Images/Banners_Serivices.jpg"></div>
            </div>
            <div id="fifthServiceDescription" class="service-description-container-hidden">
                <h5 id="bannersDescription" class="service-text-mob">{{t.services.service05.description}}</h5>
                <div>
                    <h5  id="fifthServiceDescriptionText" class="service-description-text">{{t.services.service05.text}}</h5>
                     <h5 style="margin-top: 2vw;" class="service-description-text">{{t.services.service02.text02}}</h5>
                </div>    
            </div>
        </div>
    </div>    
</div>