.about-image-mob{
    width: 100vw;
}

.about-container{
    margin-left: 5vw;
    width: 90vw;
    margin-right: 5vw;
    padding-top: 0;
    display: grid;
    grid-template-columns: auto auto;
    gap: 10vw;
}
.about-text-container{
    position: relative;
    display: grid;
    grid-template-columns: auto auto;
    gap: 2vw;
}
.about-header{
    margin: 0;
    text-align: left;
    margin-top: -1.5vw;
}
.about-text-first{
    width: 25vw;  
     text-align: left;
    margin: 0;
}
.about-text-second{
    width: 25vw;
    margin: 0;
     text-align: left;
}
.fade-in {
  opacity: 0;
  transform: translateY(10vw);
  transition: opacity 1.5s ease-out, transform 1.5s ease-out;
  will-change: opacity, transform;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}
@media only screen and (hover: none) and (pointer: coarse), 
(max-width: 480px) {
    .about-container{
        margin-left: 0;
        margin-top: 12.5vw;
    }
    .about-header-mob{
    margin: 0;
    margin-top: 15vw;
    margin-left: 5vw;
}
.about-text-first{
    width: 89vw;  
    text-align: left;
    margin-left: 5vw;
    margin-top:7.6vw;
    margin-right: 5vw;
}
.about-text-second{
    width:89vw;
    margin-left: 5vw;
    text-align:left;
    margin-top: 5vw;
}
}