.contact{
    margin-left: 5vw;
    margin-right: 5vw;
}
.contact-header-first{
    width: 45vw;
    color: #A9A9A9;
    display: block;
    margin-bottom: 0px;
    margin-top:1vw;
}
.contact-header-second{
    text-align: left;
    margin-top:0.5vw;
    margin-bottom: 0;
}

.contact-input{
    width:50.75vw;
    height:4.5vw;
    background: transparent;
    border-radius: 1.1vw;
    border:solid;
    border-color: #666666;
    border-width: 0.1vw;
    padding-left: 2.75vw;
    outline: none;
    font-size: 1.135vw;
    font-family: "Arial", sans-serif;
    font-style: light;
    font-weight: 500;
    color: #A9A9A9;
    line-height: 1.5vw;
    letter-spacing: 1%;
    padding-top: 0;
    padding-bottom:0;
    float: right;
    clear: both; 
}
.contact-input:focus {
    border-color: #A9A9A9;
}
.contact-input-message{
    height:9vw; 
    padding-top: 1vw;
    width:96.5%;
    float:none;
    clear:none;
    resize: none;
    padding-left: 2.75vw;

  }
  .send-message{
    height:5.5vw; 
    width:100%;
    border:solid;
    border-color: #d9d9d9;
    background-color:transparent;
    border-width: 0.2vw;
    border-radius: 1.6vw;
    transition: 0.9s;
    margin-top: 1.5vw;
  }
  .send-message-text{
      color:  #d9d9d9;
      font-size: 1.135vw;
      font-family: "Arial", sans-serif;
      font-style: light;
      font-weight: 500;
      line-height: 1.5vw;
      letter-spacing: 1%;
      text-align: center;
  }
  .send-message:hover{
    background-color:#d9d9d9;
    transition: 0.9s;
  }
  .send-message:hover .send-message-text{
    color: #0C0C0C;
    transition: 0.9s;
  }
  
  .send-message:active .send-message-text{
    color:  #A9A9A9;
    transition: 0.9s;
  }
  .name-form{
    height:4.5vw;
    margin-top: -10vw;
    width:50.75vw;
    float: right;
  }
  .subject-form{
    height:4.5vw;
    margin-top: -3.75vw;
    width:50.75vw;
    float: right;
  }
  .message-form{
    margin-top: 2.5vw;
  }
  .contact-arrow{
    width:3.25vw;
    margin-top:1vw;
  }
  .social-media{
    display: none;
}
.social-media-button{
  display: none;
}
  @media only screen and (hover: none) and (pointer: coarse), 
  (max-width: 480px) {
    .contact-header-first{
        display: none;
    }
    .contact-header-second{
      text-align: left;
      margin-top:0vw;
      margin-bottom: 0;
  }
  .name-form{
    height:12.4vw;
    margin-top: 0;
    width:100%;
    margin-bottom: 3vw;
  }
  .contact-input{
    height:12.4vw;
    background: transparent;
    border-radius: 3vw;
    border:solid;
    border-color: #666666;
    border-width: 0.4vw;
    padding-left: 4vw;
    outline: none;
    font-size: 2.8vw;
    width:94%;
  }
  .subject-form{
    height:9.4vw;
    margin-top: 0;
    width:100%;
    margin-bottom: 6vw;
  }
  .message-form{
    margin-top: 6vw;
  }
  .contact-input-message{
    height:27vw; 
    width:94.5%;
    float:none;
    clear:none;
    resize: none;
    padding-left: 4vw;
    padding-top: 5vw;
  }
  .send-message{
    height:13vw; 
    border-width: 0.4vw;
    border-radius: 3vw;
    margin-top: 4.2vw;
  }
  .send-message-text{
    font-size: 3vw;
    line-height: 2vw;
}
.email{
  color: #A9A9A9;
  font-size: 3.5vw;
}
 .contact-arrow{
  width:5vw;
  margin-top:1vw;
  color: #f9f9f9;
}
.email-container{
  width: 35vw;
  margin-top: 2.2vw;
}
.contact-subheader-mob{
  margin: 0;
  margin-top: 7vw;
  margin-bottom: 7.6vw;
}
.contact{
  margin-left: 5vw;
  margin-right: 5vw;
}

}