.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: block;
    align-items: center;
    justify-content: center;
    background: rgb(16,16,16);
    transition: opacity 0.75s, visibility 0.75s;
    z-index: 10;
  }
  .loader-container{
    margin: auto;
    width: max-content;
   margin-top: 15%;
  }
  .loader--hidden {
    opacity: 0;
    visibility: hidden;
  }
.loader-text-container{
    margin-left: 1vw;
    text-align: left;
    width: 4.5vw;
}
@keyframes loading {
    from {
        transform: rotate(0turn);
    }
    to {
        transform: rotate(-1turn);
    }
}

@keyframes loadingDots {
    0%   { content: "Loading"; }
    25%  { content: "Loading."; }
    50%  { content: "Loading.."; }
    75%  { content: "Loading..."; }
    100% { content: "Loading"; }
  }

  /* Applying the animation to the text */
  .loader-text::after {
    content: "Loading";
    animation: loadingDots 1.5s infinite steps(4);
  }
  .spinner {
  position: relative;
  width: 12vw;
  height: 12vw;
  display: block;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-left:-2.5vw;
}

.spinner span {
  position: absolute;
  top: 50%;
  left: var(--left);
  width: 3.6vw;
  height: 0.72vw;
  background: #7090FF;
  animation: dominos 1s ease infinite;
  box-shadow: 2px 2px 3px 0px black;
}

.spinner span:nth-child(1) {
  --left: 8.2vw;
  animation-delay: 0.125s;
}

.spinner span:nth-child(2) {
  --left: 7.2vw;
  animation-delay: 0.3s;
}

.spinner span:nth-child(3) {
  left: 6.2vw;
  animation-delay: 0.425s;
}

.spinner span:nth-child(4) {
  animation-delay: 0.54s;
  left: 5.1vw;
}

.spinner span:nth-child(5) {
  animation-delay: 0.665s;
  left: 4.1vw;
}

.spinner span:nth-child(6) {
  animation-delay: 0.79s;
  left:3vw;
}

.spinner span:nth-child(7) {
  animation-delay: 0.915s;
  left: 2vw;
}

.spinner span:nth-child(8) {
  left: 1.1vw;
}

@keyframes dominos {
  50% {
    opacity: 0.7;
  }

  75% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }

  80% {
    opacity: 1;
  }
}
  @media only screen and (hover: none) and (pointer: coarse), 
  (max-width: 480px) {
      .spinner {
  position: relative;
  width: 36vw;
  height: 36vw;
  display: block;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-left:-2.5vw;
}

.spinner span {
  position: absolute;
  top: 50%;
  left: var(--left);
  width: 10.8vw;
  height: 2.1vw;
  background: #7090FF;
  animation: dominos 1s ease infinite;
  box-shadow: 2px 2px 3px 0px black;
}

.spinner span:nth-child(1) {
  --left: 27.6vw;
  animation-delay: 0.125s;
}

.spinner span:nth-child(2) {
  --left: 22.2vw;
  animation-delay: 0.3s;
}

.spinner span:nth-child(3) {
  left: 18.6vw;
  animation-delay: 0.425s;
}

.spinner span:nth-child(4) {
  animation-delay: 0.54s;
  left: 15.3vw;
}

.spinner span:nth-child(5) {
  animation-delay: 0.665s;
  left: 12.3vw;
}

.spinner span:nth-child(6) {
  animation-delay: 0.79s;
  left:9vw;
}

.spinner span:nth-child(7) {
  animation-delay: 0.915s;
  left: 6vw;
}

.spinner span:nth-child(8) {
  left: 3.3vw;
}
.loader-text-container{
    margin-left: 9vw;
    text-align: left;
    width: 4.5vw;
}
  }
