.cookie-banner{
        position: fixed;
        background-color: #FFf;
        width: 46.4vw;
        height: 4.3vw;
        border-radius: 1.4vw;
        z-index: 1000;
        right: 1.9vw;
        bottom: 1.9vw;
        padding: 3.3vw;
        padding-bottom: 1.5vw;
        padding-top: 2vw;
        display: none;                 /* horizontal layout */
        flex-direction: row;           /* row instead of column */
        align-items: center;           /* vertical centering */
        justify-content: space-between;/* space between text & button */
    }
    .cookie-banner-close-button{
        position: absolute;
        right:0.6vw;
        top:0.6vw;
        width: 2.2vw;
        height: 2.2vw;
    }
      .cookie-banner-close-button svg{
        width: 0.8vw;
        height: 0.8vw;
        fill: currentColor;
        stroke: currentColor;
        color: #000; /* default */
    }
    .cookie-banner-close-button:hover svg{
        color: #A9A9A9;
    }
    .cookie-banner-text{
        font-size: 0.95vw;
        line-height: 1.3vw;
        width: 23vw;
        margin-top: 0;
    }
    .cookie-button{
        width:19vw;
        height: 2.5vw;
        background-color: #0C0C0C;
        border-radius: 0.7vw;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.9s; 
        border: 0.2vw solid #0C0C0C;
    }
    .cookie-button-text{
        margin: 0;
        margin-top: 0.2vw;
        color: #F9F9F9;
        transition: 0.9s;
        font-size: 1vw;

    }
    .cookie-button:hover{
         background-color: #F9F9F9;
          transition: 0.9s;
    }
    .cookie-button:hover .cookie-button-text{
        color: #0C0C0C;
        transition: 0.9s;
    }
    .mail-message{
        width: 33.3vw;
        height: 4.8vw;
        padding: 2.2vw;
        padding-bottom: 3.4vw;
        position: fixed;
        right: 1.9vw;
        bottom: 1.9vw;
        background-color: #FfFfFf;
        z-index: 1000;
        border-radius:1.4vw ;
        display: none;
        grid-template-columns: auto auto;
        gap: 1.1vw;

    }
    .mail-message-icon{
        width:1.875vw;
        height:1.875vw;
    }
    .mail-message-header{
        color: #0C0C0C;
        margin: 0;

    }
    .mail-message-text{
        margin: 0;
        margin-top: 0.55vw;
    }
    .privacy-policy{
        width: 46.4vw;
        height: 60vh;
        padding: 3.3vw;
        position: fixed;
        right: 1.9vw;
        bottom: 1.9vw;
        background-color: #ffffff;
        z-index: 1000;
        border-radius:1.4vw ;
        display: none;
    }
    .privacy-header{
        text-transform:uppercase;
        color: #0C0C0C;
        margin-top: 0;
        margin-bottom: 2.2vw;
    }
    .privacy-line{
        height: 0.07vw;
        width: 100%;
        background-color: #E6E6E6;
    }
    .privacy-block-container{
        margin-top: 2.2vw;
    }
    .privacy-title{
        color: #0C0C0C;
        text-transform: uppercase;
        margin-bottom: 0.55vw;
        margin-top: 0;
    }
    .privacy-text{
        margin: 0;
    }
    .privacy-content-wrapper{
        overflow: auto;
        height: 100%;
        padding-right: 2vw;
    }
  .privacy-content-wrapper::-webkit-scrollbar {
    width: 0.13vw;
    height: 0.5vw;
}

.privacy-content-wrapper::-webkit-scrollbar-button {
    display: none;
    width: 0;
    height: 0;
}

.privacy-content-wrapper::-webkit-scrollbar-thumb {
    background-color: #a9a9a9;
    border-radius: 6px;
}

.privacy-content-wrapper::-webkit-scrollbar-track {
    background-color: transparent;
}
        @media only screen and (hover: none) and (pointer: coarse), 
    (max-width: 480px) {
            .cookie-banner{
        width:74.5vw;
        height: 34.8vw;
        border-radius: 5vw;
        z-index: 1000;
        right: 5.3vw;
        bottom: 5.3vw;
        padding-top: 14.7vw;
        padding-bottom: 10vw;
        padding-left: 7.5vw;
        padding-right: 7.5vw; 
        flex-direction: column;
    }
    .cookie-banner-close-button{
        right:3.8vw;
        top:3.8vw;
        width: 8vw;
        height: 8vw;
    }
      .cookie-banner-close-button svg{
        width: 3.5vw;
        height: 3.5vw;
    }
    .cookie-banner-text{
        font-size:3.5vw;
        line-height: 5vw;
        width: 70vw;
        margin-top: 0;
    }
    .cookie-button{
        width:100%;
        height: 10.6vw;
        border-radius: 2.5vw;
        border: 0.4vw solid #0C0C0C;
    }
    .cookie-button-text{
        margin-top: 0.4vw;
        font-size: 3.8vw;
    }
    .mail-message{
       width:72.0vw;
        height: 22.7vw;
        border-radius: 5vw;
        z-index: 1000;
        right: 5.3vw;
        bottom: 5.3vw;
        padding-top: 8.1vw;
        padding-bottom: 12.2vw;
        padding-left: 7.5vw;
        padding-right: 10.17vw;
        gap: 3.8vw;
    }
        .mail-message-icon{
        width:6.875vw;
        height:6.875vw;
    }
     .mail-message-header{
        margin-top: 2.5vw;

    }
    .mail-message-text{
        margin-top: 4vw;
    }
        .privacy-policy{
        width:77.0vw;
        height: 60vh;
        padding: 6vw;
        padding-top: 14vw;
        padding-bottom: 10vw;
        right: 5.3vw;
        bottom: 5.3vw;
        border-radius:1.4vw ;
    }
      .privacy-content-wrapper::-webkit-scrollbar {
    width:0.5vw;
    height: 1.5vw;
}
  .privacy-header{
        margin-bottom: 6vw;
    }
    .privacy-line{
        height: 0.25vw;
        width: 100%;
    }
    .privacy-block-container{
        margin-top: 8.1vw;
    }
    .privacy-title{
        text-transform: uppercase;
        margin-bottom: 6vw;
        margin-top: 0;
        line-height: 5.6vw;
    }

    }