<!DOCTYPE html>
<html lang="{{ page.lang }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">
<link rel='stylesheet' type='text/css' href='../Assets/Styles/loader.css?=v2'>

<head> 
 <link rel="icon" href="../Assets/Images/48x48.png" sizes="48x48" type="image/png" >
 <link rel="icon" href="../Assets/Images/48x48.svg" sizes="48x48" type="image/svg+xml">
 <link rel="apple-touch-icon" href="../Assets/Images/180x180.png" sizes="180x180">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="preload"> 
<div class="page-wrapper">
    {% assign t = site.data.translations[page.lang] %}
    <div class="desktop">
        {% include header.html %}
    </div>
    <div class="mobile">
        {% include headermob.html %}
    </div>
    <div id="stop-render-anchor" class="render-anchor"></div>
    <div class="background-holder">   
        <div class="description-container-mob">
            <div class="description-text-container">
                <h5 id="descriptionText" class="description-text">{{ t.header.text }}</h5>
            </div>
        </div> 
        <div class="about-anchor" id="about-anchor-id"></div>
        <div class="desktop">
            {% include about.html %}
        </div>
        <div class="mobile">
            {% include aboutmob.html %}
        </div>
        <div class="services-anchor" id="services-anchor-id"></div>
        <div class="desktop">
            {% include services.html %}
        </div>
        <div class="mobile">
            {% include servicesmob.html %}
        </div>
        
        <div class="scroll-wrapper">
            <div class="scroll-container">
                <div class="scroll-content-box">
                    <div class="scroll-header">
                        <h2 style="color: #A9A9A9; margin-top: 0px;">{{t.stages.header }}</h2>
                    </div>
                    <div class="scroll-text-container">
                        <div class="scroll-text scroll-text01">
                            <h5 style="margin-top: 0px;"> {{t.stages.text01 }}</h5>
                        </div>
                        <div  class="scroll-text scroll-text02">
                            <h5 style="margin-top: 0px;">{{t.stages.text02 }}</h5>
                        </div>
                        <div  class="scroll-text scroll-text03">
                            <div class="scroll-image"  loading="lazy" ></div>
                            <h5 style="margin-top: 2vw;">{{t.stages.text03 }}</h5>
                        </div>
                        <div  class="scroll-text scroll-text04">
                            <h5 style="margin-top: 0px;">{{t.stages.text04 }}</h5>
                        </div>
                        <div class="scroll-text scroll-text05">
                            <h5 style="margin-top: 0px;">{{t.stages.text05 }}</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="custom-scroll-track">
                <div class="custom-scroll-thumb"></div>
            </div>
        </div>

        <div class="projects">
            <div class="scroll-image-anchor" id="scroll-image-anchor"></div>
            <div class="projects-anchor" id="projects-anchor-id"></div>
            <h2  id="projects" class="projects-header">{{t.projects.header }}</h2>
            <div id="projects-grid-container" class="projects-grid-container">
                <div id="projects-grid" class="projects-grid">
                    <div class="project">
                        <div class="project-text-grid">
                            <div class="project-head">
                                <img loading="lazy" class="project-button-arrow"  src="../Assets/Images/Arrow_Right.svg">
                                <h3  class="project-button-text" >FINANCE LABS</h3>
                            </div>
                            <h5 class="project-text">{{t.projects.financelabs.description }}</h5>
                        </div>
                        <div class="project-image-container">
                            <div id="twelve-project" class="projects-carousel">
                                <div class="carousel-image-container">
                                    <img loading="lazy" class="project-image" src="../Assets/Images/FinanceLabs_1.jpg">
                                </div>
                                <div class="carousel-image-container">
                                    <img loading="lazy" class="project-image" src="../Assets/Images/FinanceLabs_2.jpg">
                                </div>
                                <div class="carousel-image-container">
                                    <img loading="lazy" class="project-image" src="../Assets/Images/FinanceLabs_3.jpg">
                                </div>
                                <div class="carousel-image-container">
                                    <img loading="lazy" class="project-image" src="../Assets/Images/FinanceLabs_4.jpg">
                                </div>
                                <div class="carousel-image-container project-image project-description">
                                    <div class="project-description-text-container">
                                        <div class="project-description-text-container-inner">
                                            <h5 class="project-description-text">
                                                {{t.projects.financelabs.text }}
                                            </h5>
                                        </div>
                                    </div>
                                </div>  
                                <!-- Add more images as needed -->
                            </div>
                            <button class="project-button" onclick="scrollRight('#twelve-project')">
                                <img loading="lazy" class="project-button-image" >
                            </button>
                        </div>
                    </div>
                    <div class="project">
                        <div class="project-text-grid">
                            <div class="project-head">
                                <img loading="lazy" class="project-button-arrow" src="../Assets/Images/Arrow_Right.svg">
                                <h3  class="project-button-text" >VIABON</h3>
                            </div>
                            <h5 class="project-text">{{t.projects.viabon.description }}</h5>
                        </div>
                        <div class="project-image-container">
                            <div id="eight-project" class="projects-carousel">
                                <div class="carousel-image-container">
                                    <img loading="lazy" class="project-image" src="../Assets/Images/Viabon_1.jpg">
                                </div>
                                <div class="carousel-image-container">
                                    <img loading="lazy" class="project-image" src="../Assets/Images/Viabon_2.jpg">
                                </div>
                                <div class="carousel-image-container">
                                    <img loading="lazy" class="project-image" src="../Assets/Images/Viabon_3.jpg">
                                </div>
                                <div class="carousel-image-container project-image project-description">
                                    <div class="project-description-text-container">
                                        <div class="project-description-text-container-inner">
                                            <h5 class="project-description-text">
                                                {{t.projects.viabon.text}}
                                            </h5>
                                        </div>
                                    </div>
                                </div>     
                                <!-- Add more images as needed -->
                            </div>
                            <button class="project-button" onclick="scrollRight('#eight-project')">
                                <img loading="lazy" class="project-button-image">
                            </button>
                        </div>
                    </div>
                    <div class="project">
                        <div class="project-text-grid">
                            <div class="project-head">
                                <img loading="lazy" class="project-button-arrow" src="../Assets/Images/Arrow_Right.svg">
                                <h3  class="project-button-text" >5W</h3>
                            </div>
                            <h5 class="project-text">{{t.projects["5w"].description }}</h5>
                        </div>
                        <div class="project-image-container">
                            <div id="fourteen-project" class="projects-carousel">
                                <div class="carousel-image-container">
                                    <img loading="lazy" class="project-image" src="../Assets/Images/5w_1.jpg">
                                </div>
                                <div class="carousel-image-container">
                                    <img loading="lazy" class="project-image" src="../Assets/Images/5W_2.jpg">
                                </div>
                                <div class="carousel-image-container">
                                    <img loading="lazy" class="project-image" src="../Assets/Images/5W_3.jpg">
                                </div>
                                <div class="carousel-image-container">
                                    <img loading="lazy" class="project-image" src="../Assets/Images/5W_4.jpg">
                                </div>
                                <div class="carousel-image-container">
                                    <img loading="lazy" class="project-image" src="../Assets/Images/5W_5.jpg">
                                </div>
                                <div class="carousel-image-container project-image project-description">
                                    <div class="project-description-text-container">
                                        <div class="project-description-text-container-inner">
                                            <h5 class="project-description-text">
                                                {{t.projects["5w"].text }}
                                            </h5>
                                        </div>
                                    </div>
                                </div>       
                                <!-- Add more images as needed -->
                            </div>
                            <button class="project-button" onclick="scrollRight('#fourteen-project')">
                                <img loading="lazy" class="project-button-image" >
                            </button>
                        </div>
                    </div>
                    <div id="project-display" class="project project-display">
                        <div class="project-text-grid">
                            <button  class="project-head" onclick="ChangeHeight()">
                                <img loading="lazy" class="project-button-arrow"  src="../Assets/Images/Arrow_Right.svg">
                                <h3 id="display-header" data-more-projects="{{t.projects.more }}"data-less-projects="{{t.projects.less }}"
                                 style = "height: 3vw;margin-bottom: 1.7vw;" class="project-button-text" >{{t.projects.more }}</h3>
                            </button>
                        </div>
                        <div class="project-image-container more-projects-image-container">
                            <button class="more-projects-button" onclick="ChangeHeight()"><img id="flipper" class="flipper" src="../Assets/Images/Plus.svg"></button>
                            <h3 id="display"   data-display-more="{{t.projects.displayMore }}" 
                            data-display-less="{{t.projects.displayLess }}" class="display">{{t.projects.displayMore }}</h3>
                        </div>     
                    </div>         
                    <div class="project">
                        <div class="project-text-grid">
                            <button class="project-head">
                                <img loading="lazy" class="project-button-arrow"  src="../Assets/Images/Arrow_Right.svg">
                                <h3  class="project-button-text" >U&Paws</h3>
                            </button>
                            <h5 class="project-text">{{t.projects.paws.description }}</h5>
                        </div>
                        <div class="project-image-container">
                            <div id="eleven-project" class="projects-carousel">
                                <div class="carousel-image-container">
                                    <img loading="lazy" class="project-image" src="../Assets/Images/Paws_1.jpg">
                                </div>
                                <div class="carousel-image-container">
                                    <img loading="lazy" class="project-image" src="../Assets/Images/Paws_2.jpg">
                                </div>
                                <div class="carousel-image-container">
                                    <img loading="lazy" class="project-image" src="../Assets/Images/Paws_3.jpg">
                                </div>
                                <div class="carousel-image-container">
                                    <img loading="lazy" class="project-image" src="../Assets/Images/Paws_4.jpg">
                                </div>
                                <div class="carousel-image-container project-image project-description">
                                    <div class="project-description-text-container">
                                        <div class="project-description-text-container-inner">
                                            <h5 class="project-description-text">
                                                {{t.projects.paws.text.text01 }}
                                                {{t.projects.paws.text.text02 }}
                                            </h5>
                                            <h5 class="project-description-text">
                                                <ul>
                                                    <li> {{t.projects.paws.text.text03 }}</li>
                                                    <li> {{t.projects.paws.text.text04 }}</li>
                                                    <li> {{t.projects.paws.text.text05 }}</li>
                                                    <li> {{t.projects.paws.text.text06 }}</li>
                                                </ul>
                                            </h5>
                                            <h5 class="project-description-text">
                                                {{t.projects.paws.text.text07 }}
                                            </h5>
                                        </div>
                                    </div>
                                </div>       
                                <!-- Add more images as needed -->
                            </div>
                            <button class="project-button" onclick="scrollRight('#eleven-project')">
                                <img loading="lazy" class="project-button-image" >
                            </button>
                        </div>
                    </div> 
                    <div class="project">
                        <div class="project-text-grid">
                            <div class="project-head">
                                <img loading="lazy" class="project-button-arrow"  src="../Assets/Images/Arrow_Right.svg">
                                <h3  class="project-button-text" >PENA LAB</h3>
                            </div>
                            <h5 class="project-text">{{t.projects.penalab.description }}</h5>
                        </div>
                        <div class="project-image-container">
                            <div id="thirteen-project" class="projects-carousel">
                                <div class="carousel-image-container">
                                    <img loading="lazy" class="project-image" src="../Assets/Images/PenaLabs_1.jpg">
                                </div>
                                <div class="carousel-image-container">
                                    <img loading="lazy" class="project-image" src="../Assets/Images/PenaLabs_2.jpg">
                                </div>
                                <div class="carousel-image-container">
                                    <img loading="lazy" class="project-image" src="../Assets/Images/PenaLabs_3.jpg">
                                </div>
                                <div class="carousel-image-container">
                                    <img loading="lazy" class="project-image" src="../Assets/Images/PenaLabs_4.jpg">
                                </div>
                                <div class="carousel-image-container">
                                    <img loading="lazy" class="project-image" src="../Assets/Images/PenaLabs_5.jpg">
                                </div>
                                <div class="carousel-image-container project-image project-description">
                                    <div class="project-description-text-container">
                                        <div class="project-description-text-container-inner">
                                            <h5 class="project-description-text">
                                                {{t.projects.penalab.text}}
                                            </h5>
                                        </div>
                                    </div>
                                </div>  
                                <!-- Add more images as needed -->
                            </div>
                            <button class="project-button" onclick="scrollRight('#thirteen-project')">
                                <img loading="lazy" class="project-button-image" >
                            </button>
                        </div>
                    </div> 
                    <div class="project">
                        <div class="project-text-grid">
                            <button  class="project-head">
                                <img loading="lazy" class="project-button-arrow"  src="../Assets/Images/Arrow_Right.svg">
                                <h3  class="project-button-text" >PALAMI</h3>
                            </button>
                            <h5 class="project-text">{{t.projects.palami.description }} </h5>
                        </div>
                        <div class="project-image-container">
                                <div id="first-project" class="projects-carousel">
                                    <div class="carousel-image-container">
                                        <img loading="lazy" class="project-image" src="../Assets/Images/Palami_2.jpg">
                                    </div>
                                    <div class="carousel-image-container">
                                        <img loading="lazy" class="project-image" src="../Assets/Images/Palami_1.jpg">
                                    </div>
                                    <div class="carousel-image-container">
                                        <img loading="lazy" class="project-image" src="../Assets/Images/Palami_3.jpg">
                                    </div>
                                    <div class="carousel-image-container project-image project-description">
                                        <div class="project-description-text-container">
                                            <div class="project-description-text-container-inner">
                                                <h5 class="project-description-text">
                                                {{t.projects.palami.text.text01 }}
                                                </h5>
                                                <h5 class="project-description-text">
                                                    {{t.projects.palami.text.text02 }}
                                                </h5>
                                            </div>
                                        </div>
                                    </div>       
                                    <!-- Add more images as needed -->
                                </div>
                            <button class="project-button" onclick="scrollRight('#first-project')">
                                <img loading="lazy" class="project-button-image" >
                            </button>
                        </div>
                    </div>    
                    <div class="project">
                        <div class="project-text-grid">
                            <button class="project-head">
                                <img loading="lazy" class="project-button-arrow"  src="../Assets/Images/Arrow_Right.svg">
                                <h3  class="project-button-text" >CONFIGURATOR</h3>
                            </button>
                            <h5 class="project-text"> {{t.projects.configurator.description }} </h5>
                        </div>
                        <div class="project-image-container">
                            <div class="screen">
                                <img loading="lazy" src="../Assets/Images/Configurator_Large.jpg">
                            </div>
                        </div>
                    </div>
                    <div class="project">
                        <div class="project-text-grid">                     
                            <button  class="project-head">
                                <img loading="lazy" class="project-button-arrow"  src="../Assets/Images/Arrow_Right.svg">
                                <h3  class="project-button-text" >BUS STOP, PYLON </h3>
                            </button>
                            <h5 class="project-text">{{t.projects.busstop.description }}</h5>
                        </div>
                        <div class="project-image-container">
                            <div id="fourth-project" class="projects-carousel">
                                <div class="carousel-image-container">
                                    <img loading="lazy" class="project-image" src="../Assets/Images/BusStop_1.jpg">
                                </div>
                                <div class="carousel-image-container">
                                    <img loading="lazy" class="project-image" src="../Assets/Images/BusStop_2.jpg">
                                </div>
                                <div class="carousel-image-container">
                                    <img loading="lazy" class="project-image" src="../Assets/Images/BusStop_3.jpg">
                                </div>
                                <div class="carousel-image-container">
                                    <img loading="lazy" class="project-image" src="../Assets/Images/Pylon.jpg">
                                </div>
                                <div class="carousel-image-container project-image project-description">
                                    <div class="project-description-text-container">
                                        <div class="project-description-text-container-inner">
                                            <h5 class="project-description-text">
                                            {{t.projects.busstop.text }}
                                            </h5>
                                        </div>
                                    </div>
                                </div>  
                                    <!-- Add more images as needed -->
                            </div>
                            <button class="project-button" onclick="scrollRight('#fourth-project')">
                                <img loading="lazy" class="project-button-image" >
                            </button>
                        </div>
                    </div>
                    <div class="project">
                        <div class="project-text-grid">
                            <div class="project-head">
                                <img loading="lazy" class="project-button-arrow"  src="../Assets/Images/Arrow_Right.svg">
                                <h3  class="project-button-text" >MÜLLER'S</h3>
                            </div>
                            <h5 class="project-text">{{t.projects.mullers.description }}</h5>
                        </div>
                        <div class="project-image-container">
                            <div id="third-project" class="projects-carousel">
                                <div class="carousel-image-container">
                                    <img loading="lazy" class="project-image" src="../Assets/Images/Mullers_1.jpg">
                                </div>
                                <div class="carousel-image-container">
                                    <img loading="lazy" class="project-image" src="../Assets/Images/Mullers_2.jpg">
                                </div>
                                <div class="carousel-image-container">
                                    <img loading="lazy" class="project-image" src="../Assets/Images/Mullers_3.jpg">
                                </div>
                                <div class="carousel-image-container project-image project-description">
                                    <div class="project-description-text-container">
                                        <div class="project-description-text-container-inner">
                                            <h5 class="project-description-text">
                                                {{t.projects.mullers.text01 }}
                                            </h5>
                                            <h5 class="project-description-text">
                                                {{t.projects.mullers.text02 }}
                                            </h5>
                                        </div>
                                    </div>
                                </div>      
                                <!-- Add more images as needed -->
                            </div>
                            <button class="project-button" onclick="scrollRight('#third-project')">
                                <img loading="lazy" class="project-button-image" >
                            </button>
                        </div>
                    </div> 
                    <div class="project">
                        <div class="project-text-grid">
                            <div class="project-head">
                                <img loading="lazy" class="project-button-arrow"  src="../Assets/Images/Arrow_Right.svg">
                                <h3  class="project-button-text" >REALWIN</h3>
                            </div>
                            <h5 class="project-text">{{t.projects.realwin.description }}</h5>
                        </div>
                        <div class="project-image-container">
                            <div id="fifth-project" class="projects-carousel">
                                <div class="carousel-image-container">
                                    <img loading="lazy" class="project-image" src="../Assets/Images/RealWin_1.jpg">
                                </div>
                                <div class="carousel-image-container">
                                    <img loading="lazy" class="project-image" src="../Assets/Images/RealWin_2.jpg">
                                </div>
                                <div class="carousel-image-container project-image project-description">
                                    <div class="project-description-text-container">
                                        <div class="project-description-text-container-inner">
                                            <h5 class="project-description-text">
                                                {{t.projects.realwin.text }}
                                            </h5>
                                        </div>
                                    </div>
                                </div>       
                                <!-- Add more images as needed -->
                            </div>
                            <button class="project-button" onclick="scrollRight('#fifth-project')">
                                <img loading="lazy" class="project-button-image" >
                            </button>
                        </div>
                    </div>
                    <div class="project">
                        <div class="project-text-grid">
                            <div class="project-head">
                                <img loading="lazy" class="project-button-arrow" src="../Assets/Images/Arrow_Right.svg">
                                <h3  class="project-button-text" >ECCA</h3>
                            </div>
                            <h5 class="project-text">{{t.projects.ecca.description }}</h5>
                        </div>
                        <div class="project-image-container">
                            <div id="sixt-project" class="projects-carousel">
                                <div class="carousel-image-container">
                                    <img loading="lazy" class="project-image" src="../Assets/Images/Ecca_1.jpg">
                                </div>
                                <div class="carousel-image-container">
                                    <img loading="lazy" class="project-image" src="../Assets/Images/Ecca_2.jpg">
                                </div>
                                <div class="carousel-image-container">
                                    <img loading="lazy" class="project-image" src="../Assets/Images/Ecca_3.jpg">
                                </div>
                                <!-- Add more images as needed -->
                            </div>
                            <button class="project-button" onclick="scrollRight('#sixt-project')">
                                <img loading="lazy" class="project-button-image" >
                            </button>
                        </div>
                    </div>
                    <div class="project">
                        <div class="project-text-grid">
                            <div class="project-head">
                                <img loading="lazy" class="project-button-arrow"  src="../Assets/Images/Arrow_Right.svg">
                                <h3  class="project-button-text" >MAJA</h3>
                            </div>
                            <h5 class="project-text">{{t.projects.maja.description }}</h5>
                        </div>
                        <div class="project-image-container">
                            <div id="ten-project" class="projects-carousel">
                                <div class="carousel-image-container">
                                    <img loading="lazy" class="project-image" src="../Assets/Images/Maja_1.jpg">
                                </div>
                                <div class="carousel-image-container">
                                    <img loading="lazy" class="project-image" src="../Assets/Images/Maja_2.jpg">
                                </div>
                                <div class="carousel-image-container">
                                    <img loading="lazy" class="project-image" src="../Assets/Images/Maja_3.jpg">
                                </div>
                                <!-- Add more images as needed -->
                            </div>
                            <button class="project-button" onclick="scrollRight('#ten-project')">
                                <img loading="lazy" class="project-button-image" >
                            </button>
                        </div>
                    </div>
                
                    <div class="project">
                        <div class="project-text-grid">
                            <div class="project-head">
                                <img loading="lazy" class="project-button-arrow"  src="../Assets/Images/Arrow_Right.svg">
                                <h3  class="project-button-text" >DASHBOARD</h3>
                            </div>
                            <h5 class="project-text">{{t.projects.dashboard.description }}</h5>
                        </div>
                        <div class="project-image-container">
                            <div id="seventh-project" class="projects-carousel">
                                <div class="carousel-image-container">
                                    <img loading="lazy" class="project-image" src="../Assets/Images/DashBoard_1.jpg">
                                </div>
                                <div class="carousel-image-container">
                                    <img loading="lazy" class="project-image" src="../Assets/Images/DashBoard_2.jpg">
                                </div>
                                <div class="carousel-image-container">
                                    <img loading="lazy" class="project-image" src="../Assets/Images/DashBoard_3.jpg">
                                </div>
                            </div>
                            <button class="project-button" onclick="scrollRight('#seventh-project')">
                                <img loading="lazy" class="project-button-image" >
                            </button>
                        </div>
                    </div>
                   
                    <div class="project">
                        <div class="project-text-grid">
                            <div class="project-head">
                                <img loading="lazy" class="project-button-arrow" src="../Assets/Images/Arrow_Right.svg">
                                <h3  class="project-button-text" >SOA</h3>
                            </div>
                            <h5 class="project-text">{{t.projects.soa.description }}</h5>
                        </div>
                        <div class="project-image-container">
                            <div id="nine-project" class="projects-carousel">
                                <div class="carousel-image-container">
                                    <img loading="lazy" class="project-image" src="../Assets/Images/Soa_1.jpg">
                                </div>
                                <div class="carousel-image-container">
                                    <img loading="lazy" class="project-image" src="../Assets/Images/Soa_3.jpg">
                                </div>
                                <div class="carousel-image-container">
                                    <img loading="lazy" class="project-image" src="../Assets/Images/Soa_2.jpg">
                                </div>
                                <div class="carousel-image-container project-image project-description">
                                    <div class="project-description-text-container">
                                        <div class="project-description-text-container-inner">
                                            <h5 class="project-description-text">
                                                {{t.projects.soa.text}}                      
                                            </h5>
                                        </div>
                                    </div>
                                </div>       
                                <!-- Add more images as needed -->
                            </div>
                            <button class="project-button" onclick="scrollRight('#nine-project')">
                                <img loading="lazy" class="project-button-image" >
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
        <div class="scrollable-image-container">
            <div class="desktop">
                <img id="scrollable-image" class="scrollable-image" src="../Assets/Images/Scrollable.jpg">
            </div>
            <div class="mobile">
                <img id="scrollable-image" class="scrollable-image" src="../Assets/Images/Scrollable_Mob.jpg">
            </div>
        </div>
    <div class="background-holder background-holder-second"> 
        <div class="contact-anchor" id="contact-anchor-id"></div>
        <div class="desktop">
            {% include contact.html %}
        </div>
        <div class="mobile">
            {% include contactmob.html %}
        </div>
    </div>
            
            {% include footer.html %}
</div>
    <div class="preloader" id="preloader">
        <div class="preloader-counter" id="preloader-counter">0</div>
    </div>
    <div id="cookie-banner" class="cookie-banner">
        <button onclick="closeCookies()" class="cookie-banner-close-button"><svg  viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M13.866 13.3946L13.3945 13.866C13.1342 14.1263 12.7121 14.1263 12.4517 13.866L7.03064 8.44484L1.60944 13.8659C1.34914 14.1263 0.927022 14.1263 0.666672 13.8659L0.195262 13.3945C-0.0650875 13.1342 -0.0650875 12.7121 0.195262 12.4517L5.61644 7.03064L0.195262 1.60944C-0.0650875 1.34914 -0.0650875 0.927022 0.195262 0.666672L0.666662 0.195272C0.927012 -0.065078 1.34914 -0.065078 1.60944 0.195272L7.03064 5.61644L12.4517 0.195262C12.7121 -0.0650875 13.1342 -0.0650875 13.3945 0.195262L13.866 0.666662C14.1263 0.927012 14.1263 1.34914 13.866 1.60944L8.44484 7.03064L13.866 12.4517C14.1263 12.7121 14.1263 13.1342 13.866 13.3946Z" fill="#0C0C0C"/>
            </svg>
        </button>
        <h5 class="description-text">{{t.cookies.text}}</h5>
        <button id="cookie-accept" class="cookie-button"><h5 class="cookie-button-text">{{t.cookies.button}}</h5></button>
    </div>
</body>
<style>
</style>
<link rel='stylesheet' type='text/css' href='../Assets/Styles/general.css?=v1'>
<link rel='stylesheet' type='text/css' href='../Assets/Styles/header.css'>
<link rel='stylesheet' type='text/css' href='../Assets/Styles/services.css'>
<link rel='stylesheet' type='text/css' href='../Assets/Styles/contact.css'>
<link rel='stylesheet' type='text/css' href='../Assets/Styles/horizontalScroll.css'>
<link rel='stylesheet' type='text/css' href='../Assets/Styles/projects.css'>
<link rel='stylesheet' type='text/css' href='../Assets/Styles/headermob.css'>
<link rel='stylesheet' type='text/css' href='../Assets/Styles/about.css'>
<link rel='stylesheet' type='text/css' href='../Assets/Styles/footer.css'>
<link rel='stylesheet' type='text/css' href='../Assets/Styles/servicesmob.css'>
<script src="../Assets/Scripts/loader.js?=v1"></script>
<script type="text/javascript" src="../Assets/Scripts/languageButton.js"></script>
<script type="text/javascript" src="../Assets/Scripts/servicesController.js"></script>
<script type="text/javascript" src="../Assets/Scripts/sideMoving.js"></script>
<script type="text/javascript" src="../Assets/Scripts/projects.js"></script>
<script type="text/javascript" src="../Assets/Scripts/generalscripts.js"></script>
<script type="text/javascript" src="../Assets/Scripts/horizontalScroll.js"></script>
<script src="https://cdn.jsdelivr.net/npm/three@0.160.1/build/three.min.js"></script>
<script src="../Assets/Scripts/lava-lamp.js"></script>
<script src="../Assets/Scripts/servicesControllerMob.js"></script>
</html>