<!DOCTYPE html>
<html lang="{{ page.lang }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">
<link rel='stylesheet' type='text/css' href='../assets/styles/loader.css?=v2'>

<head> 
 <link rel="icon" href="../assets/Images/48x48.png" sizes="48x48" type="image/png" >
 <link rel="icon" href="../assets/Images/48x48.svg" sizes="48x48" type="image/svg+xml">
 <link rel="apple-touch-icon" href="../assets/Images/180x180.png" sizes="180x180">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="preload"> 
<div class="page-wrapper">
    {% assign t = site.data.translations[page.lang] %}
    <div class="desktop">
        {% include header.html %}
    </div>
    <div class="mobile">
        {% include headermob.html %}
    </div>
    <div id="stop-render-anchor" class="render-anchor"></div>
    <div class="background-holder">   
        <div class="description-container-mob">
            <div class="description-text-container">
                <h5 id="descriptionText" class="description-text">{{ t.header.text }}</h5>
            </div>
        </div> 
        <div class="about-anchor" id="about-anchor-id"></div>
        <div class="desktop">
            {% include about.html %}
        </div>
        <div class="mobile">
            {% include aboutmob.html %}
        </div>
        <div class="services-anchor" id="services-anchor-id"></div>
        <div class="desktop">
            {% include services.html %}
        </div>
        <div class="mobile">
            {% include servicesmob.html %}
        </div>
        
        <div class="scroll-wrapper">
            <div class="scroll-container">
                <div class="scroll-content-box">
                    <div class="scroll-header">
                        <h2 style="color: #A9A9A9; margin-top: 0px;">{{t.stages.header }}</h2>
                    </div>
                    <div class="scroll-text-container">
                        <div class="scroll-text scroll-text01">
                            <h5 style="margin-top: 0px;"> {{t.stages.text01 }}</h5>
                        </div>
                        <div  class="scroll-text scroll-text02">
                            <h5 style="margin-top: 0px;">{{t.stages.text02 }}</h5>
                        </div>
                        <div  class="scroll-text scroll-text03">
                            <div class="scroll-image"  loading="lazy" ></div>
                            <h5 style="margin-top: 2vw;">{{t.stages.text03 }}</h5>
                        </div>
                        <div  class="scroll-text scroll-text04">
                            <h5 style="margin-top: 0px;">{{t.stages.text04 }}</h5>
                        </div>
                        <div class="scroll-text scroll-text05">
                            <h5 style="margin-top: 0px;">{{t.stages.text05 }}</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="custom-scroll-track">
                <div class="custom-scroll-thumb"></div>
            </div>
            <div class="scroll-image-anchor" id="scroll-image-anchor"></div>
            <iframe id="portfolio-widget" 
                src="../widgets/showcase.html" 
                style="width:100%; border:none; overflow:hidden;" 
                scrolling="yes"
                sandbox="allow-scripts allow-same-origin"></iframe>
        </div>

    <!--heeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeere-->

    </div>
        <div class="scrollable-image-container">
            <div class="desktop">
                <img id="scrollable-image" class="scrollable-image" src="../assets/Images/Scrollable.jpg">
            </div>
            <div class="mobile">
                <img id="scrollable-image" class="scrollable-image" src="../assets/Images/Scrollable_Mob.jpg">
            </div>
        </div>
    <div class="background-holder background-holder-second"> 
        <div class="contact-anchor" id="contact-anchor-id"></div>
        <div class="desktop">
            {% include contact.html %}
        </div>
        <div class="mobile">
            {% include contactmob.html %}
        </div>
    </div>
            
            {% include footer.html %}
</div>
    <div class="preloader" id="preloader">
        <div class="preloader-counter" id="preloader-counter">0</div>
    </div>
    <div id="cookie-banner" class="cookie-banner">
        <button onclick="closePopUp('cookie-banner')" class="cookie-banner-close-button"><svg viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M11.2008 0.800049L0.800781 11.2001M0.800781 0.800049L11.2008 11.2001"  stroke-width="1.20001" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
        </button>
        <h5 class="description-text cookie-banner-text">{{t.cookies.text}}</h5>
        <button id="cookie-accept" class="cookie-button"><h5 class="cookie-button-text">{{t.cookies.button}}</h5></button>
    </div>

    <div id="mail-message" class="mail-message">    
        <button onclick="closePopUp('mail-message')" class="cookie-banner-close-button"><svg viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M11.2008 0.800049L0.800781 11.2001M0.800781 0.800049L11.2008 11.2001"  stroke-width="1.20001" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
        </button>
        <img src="../assets/Images/CheckIcon.svg" class="mail-message-icon" />
        <div class="mail-message-content">
            <h4 class="mail-message-header">{{t.message.header}}</h4>
            <h5 class="mail-message-text">{{t.message.text}}</h5>
        </div>
    </div>
    <div id="privacy-policy" class="privacy-policy">
        <button onclick="closePopUp('privacy-policy')" class="cookie-banner-close-button"><svg viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M11.2008 0.800049L0.800781 11.2001M0.800781 0.800049L11.2008 11.2001"  stroke-width="1.20001" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
        </button>
        <div class="privacy-content-wrapper">
            <h3 class="privacy-header">{{t.privacy.header}}</h3>
            <div class="privacy-line"></div>
            <div class="privacy-block-container">
                <h4 class="privacy-title">{{t.privacy.title_1}}</h4>
                <h5 class="privacy-text">{{t.privacy.text_1}}</h5>
            </div>
            <div class="privacy-block-container">
                <h4 class="privacy-title">{{t.privacy.title_2}}</h4>
                <h5 class="privacy-text">{{t.privacy.text_2}}</h5>
            </div>
            <div class="privacy-block-container">
                <h4 class="privacy-title">{{t.privacy.title_3}}</h4>
                <h5 class="privacy-text">{{t.privacy.text_3}}</h5>
            </div>
            <div class="privacy-block-container">
                <h4 class="privacy-title">{{t.privacy.title_4}}</h4>
                <h5 class="privacy-text">{{t.privacy.text_4}}</h5>
            </div>
            <div class="privacy-block-container">
                <h4 class="privacy-title">{{t.privacy.title_5}}</h4>
                <h5 class="privacy-text">{{t.privacy.text_5}}</h5>
            </div>
            <div class="privacy-block-container">
                <h4 class="privacy-title">{{t.privacy.title_6}}</h4>
                <h5 class="privacy-text">{{t.privacy.text_6}}</h5>
            </div>
            <div class="privacy-block-container">
                <h4 class="privacy-title">{{t.privacy.title_7}}</h4>
                <h5 class="privacy-text">{{t.privacy.text_7}}</h5>
            </div>
            <div class="privacy-block-container">
                <h4 class="privacy-title">{{t.privacy.title_8}}</h4>
                <h5 class="privacy-text">{{t.privacy.text_8}}</h5>
            </div>
            <div class="privacy-block-container">
                <h4 class="privacy-title">{{t.privacy.title_9}}</h4>
                <h5 class="privacy-text">{{t.privacy.text_9}}</h5>
            </div>
            <div class="privacy-block-container">
                <h4 class="privacy-title">{{t.privacy.title_10}}</h4>
                <h5 class="privacy-text">{{t.privacy.text_10}}</h5>
            </div>
            <div class="privacy-block-container">
                <h5 class="privacy-text">{{t.privacy.text_11}}</h5>
            </div>
        </div>
    </div>
</body>
<style>
</style>

<link rel='stylesheet' type='text/css' href='../assets/styles/general.css?=v1'>
<link rel='stylesheet' type='text/css' href='../assets/styles/header.css'>
<link rel='stylesheet' type='text/css' href='../assets/styles/services.css'>
<link rel='stylesheet' type='text/css' href='../assets/styles/contact.css'>
<link rel='stylesheet' type='text/css' href='../assets/styles/horizontalScroll.css'>
<link rel='stylesheet' type='text/css' href='../assets/styles/projects.css'>
<link rel='stylesheet' type='text/css' href='../assets/styles/headermob.css'>
<link rel='stylesheet' type='text/css' href='../assets/styles/about.css'>
<link rel='stylesheet' type='text/css' href='../assets/styles/footer.css'>
<link rel='stylesheet' type='text/css' href='../assets/styles/servicesmob.css'>
<link rel='stylesheet' type='text/css' href='../assets/styles/popups.css'>
<script src="../assets/scripts/loader.js?=v1"></script>
<script src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"></script>
<script type="text/javascript" src="../assets/scripts/languageButton.js"></script>
<script type="text/javascript" src="../assets/scripts/servicesController.js"></script>
<script type="text/javascript" src="../assets/scripts/sideMoving.js"></script>
<script type="text/javascript" src="../assets/scripts/generalscripts.js"></script>
<script type="text/javascript" src="../assets/scripts/horizontalScroll.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/three@0.160.1/build/three.min.js"></script>
<script type="text/javascript" src="../assets/scripts/liko-portfolio-widget.js"></script>
<script type="text/javascript" src="../assets/scripts/projects.js"></script>
<script type="text/javascript" src="../assets/scripts/lava-lamp.js"></script>
<script type="text/javascript" src="../assets/scripts/servicesControllerMob.js"></script>
</html>