body{
    background-color: #0C0C0C;
    overflow-x: hidden;
    height: 2000px;
}
h1{
    font-size: 10.5vw;
    font-family: "Outfit", sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #F9F9F9;
    margin: 0;
    letter-spacing: 0;
    line-height: 7.2vw;
}
h2{
    font-size: 5.5vw;
    font-family: "Outfit", sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #F9F9F9;
}
h5{
    font-size: 1.15vw;
    font-family: "Outfit", sans-serif;
    font-style: normal;
    font-weight: 300;
    color: #666666;
    line-height: 1.75vw;
}
.menu-grid{
    margin-top: 7.5vw;
    margin-left: 4.25vw;
    height: 7.5vw;
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.menu-elem{
    display: inline-grid;
    grid-template-columns: auto auto;
    width:50%;
   
}
.menu-elem-second{
    margin-left:10.25vw;
}
.menu-elem-third{
    margin-left: 1.75vw;
}
.menu-elem-fourth{
    margin-left: 5vw;
}
.menu-button{
    
    font-family: "Outfit", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.25vw;
    color: #A9A9A9;
    margin: 0;
    padding: 0;
    margin-top: 6vw;
    margin-left: 0.5vw;
    text-wrap: nowrap;
}
.menu-button-exception{
    margin: 0;
    margin-top: 6vw;
    margin-left: 0vw;
    margin-right: 0.5vw;
}
.menu-button:hover{
    color: #F9F9F9;
}
.menu-button:active{
    color: #666666;
}
.side-moving{
    width: 150%;
    position: relative;
    text-wrap: nowrap;
    background:  linear-gradient(to right, #F9F9F9, #7090FF);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.side-moving-container{
    margin-top: 6.5vw;
    width: 100%;
    transform: rotate(3.5deg);
    position: relative;
    overflow: hidden;
}
.about-text-container{
    margin-top: 6vw;
    margin-left: 5vw;
    width: 30.5vw;
}