button{
    background-color: transparent;
    border: none;
    color: #A9A9A9;
    margin: 0;
    padding: 0;
}
button:hover{
    color: #F9F9F9;
}
button:active{
    color: #666666;
}
.selected-language:hover{
    color: #A9A9A9;
}
.selected-language:active{
    color: #A9A9A9;
}
body{
    background-color: #0C0C0C;
    overflow-x: hidden;
    height: 1000px;
}
h1{
    font-size: 10.5vw;
    font-family: "Outfit", sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #F9F9F9;
    margin: 0;
    letter-spacing: 0;
    line-height: 7.2vw;
}
h2{
    font-size: 5.5vw;
    font-family: "Outfit", sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #F9F9F9;
    
}
h3{
    font-size: 2vw;
    font-family: "Outfit", sans-serif;
    font-style: light;
    font-weight: 300;
    color: #F9F9F9;
}
h5{
    font-size: 1.135vw;
    font-family: "Outfit", sans-serif;
    font-style: light;
    font-weight: 300;
    color: #666666;
    line-height: 1.5vw;
    letter-spacing: 1%;
}
.menu-grid{
    margin-top: 7.5vw;
    margin-left: 4.25vw;
    height: 7.5vw;
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.menu-elem{
    display: inline-grid;
    grid-template-columns: auto auto;
    width:50%;
   
}
.menu-elem-second{
    margin-left:10.25vw;
}
.menu-elem-third{
    margin-left: 1.75vw;
}
.menu-elem-fourth{
    margin-left: 5vw;
}
.menu-button{
    font-family: "Outfit", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.25vw;
    margin-top: 6vw;
    margin-left: 0.5vw;
    text-wrap: nowrap;
}
.menu-button-exception{
    margin: 0;
    margin-top: 6vw;
    margin-left: 0vw;
    margin-right: 0.5vw;
}

.side-moving{
    width: 150%;
    position: relative;
    text-wrap: nowrap;
    background:  linear-gradient(to right, #F9F9F9, #7090FF);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.side-moving-container{
    margin-top: 6.5vw;
    width: 100%;
    transform: rotate(3.5deg);
    position: relative;
    overflow: hidden;
}
.description-container{
    margin-top: 4vw;
    margin-left: 5vw;
    display: grid;
    grid-template-columns: auto auto;
}
.description-text-container{
    width: 30.5vw;
    
}
.social-media-button{
    font-family: "Outfit", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.25vw;
}
.social-media{
    margin-left: 52.5vw;
    margin-top: 6vw;
}
.about-container{
    margin-top:18vw;
    margin-left: 5vw;
    padding-top: 0;
}
.about-image{
    width: 89vw;
    position: absolute;
}
.about-text-container{
    margin-top: 23.5vw;
    display: grid;
    grid-template-columns: auto auto;
    position: absolute;
}
.about-header{
    margin: 0;
    position: absolute;
    margin-left: 68.5vw;
    margin-top: 2.25vw;
}
.about-text-first{
    width: 20vw;
    
}
.about-text-second{
    width: 20vw;
    margin-left:48.75vw;
    margin-top: 10.5vw;
}
.preload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
   }