 /* Container with horizontal scroll */
 .scroll-container {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    width:88%;
    margin: auto;
    margin-top: 20vw;
    padding-top: 2vw;
  }

  /* Content inside the container */
  .scroll-content-box {
    display: grid;
    grid-template-columns: auto auto;
    gap: 24vw;
  }

  /* Customizing the scroll bar */
  /* For Webkit browsers (Chrome, Safari, Edge) */
  .scroll-container::-webkit-scrollbar {
    height:4vw; /* Set height for horizontal scroll */
 
  }
  .scroll-container::-webkit-scrollbar-track {
    background: url('../Images/ScrollTrack.svg') no-repeat center;
    background-size: 75%;
  }
  .scroll-container::-webkit-scrollbar-thumb {
    background: url('../Images/Button\ SCROLL.svg') no-repeat center;
    background-size:20%;
    
  }

.scroll-header{
    width: 30vw;
    white-space: normal;
}
.scroll-text{
    width: 25.5vw;
    white-space: normal;
}
.scroll-text-container{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 13vw;
}